<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>GG-Bank</title>
        <!-- Favicon-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>
        <link rel="shortcut icon" href="https://cdn.liqpay.ua/userfiles/c/i14778026796/2021-08-26/yCdgQQ3S4B0G8O6TuHxb/rnEH8jbeEZ.png" type="image/png">
        <!-- Core theme CSS (includes Bootstrap)-->


    </head>

    <body>
      <style>
       [data-tooltip] {
    position: relative; /* Относительное позиционирование */
   }
   [data-tooltip]::after {
    content: attr(data-tooltip); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    width: 300px; /* Ширина подсказки */
    left: 0; top: 0; /* Положение подсказки */
    background: #3989c9; /* Синий цвет фона */
    color: #fff; /* Цвет текста */
    padding: 0.5em; /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: 1s; /* Время появления подсказки */
   }
   [data-tooltip]:hover::after {
    opacity: 1; /* Показываем подсказку */
    top: 2em; /* Положение подсказки */
   }



        #form {
  display: none;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

#form.open {
  display: block;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(17, 17, 17, 0.5);
  transition: all 0.5s ease;
  display: none;
}

.popup_open {
  display: block;
}

.popup__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 10px;
  max-width: 588px;
  width: 100%;
}

.popup__wrapper {
  padding: 40px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
 input{ border-radius:5px; float:right; width:320px;border-width:thin;border-color:grey;}
 input:hover{transform:scale(1.01); background:#5dc79bd4; color:white;}
 label{clear:both; text-align:center; float:left;}
 input.invalid{
  border-color: #900;
  background-color: #FDD;
}
</style>
        <!-- Responsive navbar-->
        <nav data-tooltip="Нажмите на кнопку «Поддержка» в верхнем правом углу страницы" class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <img src="https://cdn.liqpay.ua/userfiles/c/i14778026796/2021-08-26/yCdgQQ3S4B0G8O6TuHxb/rnEH8jbeEZ.png" width="40" height="40">
                <a class="navbar-brand" href="#!">GG-Bank</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Главная</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">О нас</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Контакты</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!" id="support">Поддержка</a></li>

                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container px-4 px-lg-5" data-tooltip="Нажмите на кнопку «Поддержка» в верхнем правом углу страницы">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://cdn.liqpay.ua/userfiles/c/i14778026796/2021-08-26/oBvzB8xkzVlhPAx22hCR/6v4latZ0bJ.gif" alt="..." /></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">Строим правильные Бизнес-решения!</h1>
                    <p>Кредит для малого и среднего бизнеса (МСБ) – особый банковский продукт, направленный на поддержку и развитие предпринимательства путем предоставления займов на различные бизнес-цели. В развитых странах программы для МСБ являются одним из ключевых драйверов развития экономики и крайне рентабельным продуктом для самих финансовых учреждений.</p>
                    <a class="btn btn-primary" href="#!" title="Опция не реализована">Детальнее...</a>
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center" data-tooltip="Нажмите на кнопку «Поддержка» в верхнем правом углу страницы">
                <div class="card-body"><p class="text-white m-0">Данная страница(сайт) - макет, является дополнением к презентации WEB-приложения на Java Spring и служит точкой старта тестирования проекта</p></div>
            </div>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5" data-tooltip="Нажмите на кнопку «Поддержка» в верхнем правом углу страницы">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Лизинг</h2>
                            <p class="card-text">Правила налогообложения НДС операций по финлизингу изменят: принят за основу законопроект...</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Детальнее</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Ипотека</h2>
                            <p class="card-text">Льготная ипотека под 7%: названы причины срыва программы Минфином...</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Детальнее</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Счета ФОП</h2>
                            <p class="card-text">Государственная казначейская служба Украины объявила о том, что с 1 января 2021 года счета для уплаты налогов и ЕСВ меняются. Это касается и счетов, на которые платят налоги ФОП</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Детальнее</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; GG-Bank 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
      <div class="popup">
          <div class="popup__container">
              <div class="popup__wrapper">
                  <div id="form">
                      <form role="form" action="/workspace.task.ua/send_task" autocomplete="off" method="POST">
                          <label>Имя:</label>
                          <input type="text" name="name" required><br><br>
                          <label>Фамилия:</label>
                          <input type="text" name="surname" required><br><br>
                          <label>Отчество:</label>
                          <input type="text" name="father_name" required><br><br>
                          <label>Телефон:</label>
                          <input type="text" name="mob" required><br><br>
                          <label>Email:</label>
                          <input type="email" name="email" required id="email"><br><br>
                          <label>Тема вопроса:</label>
                          <input list="product_problem" type="text" name="product" required><br><br>
                          <datalist id = "product_problem">
                              <option value="Акции">
                              <option value="Бонус+">
                              <option value="Билеты">
                              <option value="Банкоматы">
                              <option value="Интернет-карта">
                              <option value="КУ(карта универсальная)">
                              <option value="КДВ(карта для выплат)">
                              <option value="Вопросы VIP-клиентов">
                              <option value="Платежи физ.лиц">
                              <option value="Платежи юр.лиц">
                              <option value="Регулярные платежи">
                              <option value="Поддержка Android">
                              <option value="Поддержка IOS">
                              <option value="Пополнение мобильного">
                              <option value="Нотариальные платежи">
                              <option value="Оплата частями">
                              <option value="ТСО">
                              <option value="Срочные переводы">
                              <option value="SWIFT-платежи">
                              <option value="Юниор-банк">
                              <option value="Другое">
                          </datalist>
                          <label>Описание проблемы:</label>
                          <input type="text" name="detail_problem" required><br><br>
                          <label>Способ коммуникации:</label>
                          <input list="check" type="text" name="check" required pattern="telegram|viber|email|телефон"><br><br>
                          <datalist id = "check">
                              <option value="телефон">
                              <option value="email">
                              <option value="viber">
                              <option value="telegram">
                          </datalist>
                          <button id="send" onclick="send_task();" type="submit" class="btn btn-success">Отправить</button>
                          <button id="back" onclick="back();" type="submit" class="btn btn-success" style="float:right;background:red;">Отмена</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
        const button = document.querySelector('#support');
        const form = document.querySelector('#form');
        const popup = document.querySelector('.popup');

        button.addEventListener('click', () => {
          form.classList.add('open');
          popup.classList.add('popup_open');
        });

        back.onclick = function back(){
        window.location='http://93.78.36.49:2323/gg-bank.ua';
        }


         const email = document.getElementById("email");
         email.addEventListener("input", function (event) {
           if (email.validity.typeMismatch) {
             email.setCustomValidity("Введите корректный email!");
        } else {
              email.setCustomValidity("");
        }
         });





</script>
    </body>
</html>
